@tailwind base;
@tailwind components;
@tailwind utilities;

/* Style for the scrollbar */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d3d3d3; /* Dark color for the scrollbar handle */
  /* border: 3px solid red; */
}
